*{
    margin  : 0;
    padding : 0;
}

.spinner-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(images/LOGO/book.gif);
    background-position: center;
    background-size: cover;
    z-index: 999999;
    min-height: 100vh;
    width: 100%;
    }

.spinner{
        position: absolute;
top: 48%;
left: 48%;
    }

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/User/Website_Images/banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display:flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav .logo{
    border-radius: 50%;
    width: 50px; 
    height:50px; 
    background-color: aliceblue;
}

nav img{
    width:80%;
    height:80%;
    padding: 3px;
}

.nav-links{
    flex:1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
   color: #fff;
   text-decoration: none;
   font-size: 13px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition : 0.5s;
}

.nav-links ul li:hover:after{
    width: 100%;

}

.text-box{
    width: 90%;
    color:#fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: white;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding:12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

.hero-btn1{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 10px;
    width: 100%;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    background: #f44336;
    border: 1px solid #f44336;


}
.hero-btn1:hover{
    border: 1px solid green;
    background: green;
    transition: 1s;
}

nav .fas{
    display: none;
}
@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }

    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fas{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul{
        padding: 30px;
    }
}

/*-------COURSE---------*/

.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: #777;
    font-size: 14px;
    font-weight: 300px;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.course-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius:10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

@media(max-width:700px){
    *{
        overflow-x: hidden;
    }
    .row{
        flex-direction: column;
    }
}










@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

/** {
	box-sizing: border-box;
	font-family: 'Source Sans Pro', sans-serif;
}

body {
	background-color: #f0f4a6;
}*/

.wrapper {
	/*background-color: #0E1318;
	*/width: 90%;
	height: 90%;
	
	overflow-x: scroll;
	overflow-y: hidden;
	
	display: grid;
	grid-template-columns: repeat(6, auto);
	grid-gap: 0 50px;
	
	padding: 30px 60px;
	padding-right: 0;
	
	margin: 0 auto;
	border-radius: 10px;
}

.item {
	background-color: #00D9E1;
	padding: 0 10px;
	height: 240px;
	width: 250px;
	border-radius: 5px;
}

.empty {
	width: 5px;
}

h1 {
	text-align: center;
}

.wrapper::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

.wrapper {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
/**
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body
{
    font-family: 'Roboto', sans-serif;
}
a
{
    text-decoration: none;
}*/
.product-card {
    width: 250px;
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
    margin: 50px auto;
    background: #fafafa;
}

.badge {
    position: absolute;
    left: 0;
    top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: red;
    color: #fff;
    padding: 3px 10px;
}

.product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding: 50px;
    background: #f0f0f0;
    }

.product-tumb img {
    max-width: 100%;
    max-height: 100%;
}

.product-details {
    padding: 10px;
}

.product-catagory {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 1px;
}

.product-details h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 1px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
}

.product-details h4 a:hover {
    color: #fbb72c;
}

.product-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 1px;
    color: #999;
}

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 2px;
}

.product-bottom-details div {
    float: left;
    width: 50%;
}

.product-price {
    font-size: 18px;
    color: #fbb72c;
    font-weight: 600;
}

.product-price small {
    font-size: 80%;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 1px;
    color: grey;
}

.product-links {
    text-align: right;
}

.product-links a {
    display: inline-block;
    margin-left: 1px;
    color: #e1e1e1;
    transition: 0.3s;
    font-size: 17px;
}

.product-links a:hover {
    color: #fbb72c;
}
.checked {
    color: orange;
  }

  .notchecked{
    color: grey;
  }